@charset "UTF-8";
.mail {
  text-decoration: none;
  color: #fff;
}

.mail:hover {
  color: #DDA6B9;
}

#content-div {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
}

.project-wrapper {
  background-color: #ACAEC5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-wrapper img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-div {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
}

/* Här är styling som gäller för hela sidan */
html,
body {
  height: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #fff;
  margin: 0;
}

/* Här finns all styling för navbar i header */
header {
  background-color: #fff;
}

header h1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

header h1 h1:hover {
  color: pink;
}

nav {
  padding: 10px;
}

nav a {
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  color: #ACAEC5;
  font-size: 18px;
  padding: 6px;
  margin-bottom: 5px;
  text-decoration: none;
}

/* Nedan är styling för navbaren som är sticky när man scrollar (JS) */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky .content {
  padding-top: 60px;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-wrapper a {
  margin-bottom: 5px;
}

.button-wrapper .button {
  background-color: #fff;
  color: #DDA6B9;
  padding: 25px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
}

/* Här är styling för about-me sektionen */
.about-me {
  background-color: #DDA6B9;
  padding: 150px 30px;
  color: #fff;
  text-align: center;
}

.about-me img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

/* Här är styling för footern på sidan */
footer {
  background-color: #DDA6B9;
  padding: 50px 100px;
}

@media only screen and (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  .about-me {
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  header {
    background-color: rgba(255, 255, 255, 0.5);
  }
  header a {
    width: 20%;
    margin-top: 20px;
  }
  header nav {
    padding: 10px;
  }
  header nav a {
    display: inline;
    padding: 15px;
    margin-right: 10px;
  }
  .button-wrapper {
    display: block;
  }
  .project-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */