@import "_variables.scss";

@mixin flexProject {
  background-color: $box-color;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

//Återanvänder till mina infoboxar till hemsidan
@mixin contentDiv{
  background-color: $box-color;
  color: $text-color;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  
}

.mail {
  text-decoration: none;
  color:$text-color;

}
.mail:hover {
  color:$primary-color;
}


//styling för utbildningsboxen 
#content-div {
  @include contentDiv ;
  
}
//Styling för mina projetk  
.project-wrapper {
  @include flexProject;

  img{
   height: 180px;
  width: 180px;
  border-radius: 50%;
  display: block;
  flex-direction: column;
  
  }
}


//Styling för kontaktrutan
.contact-div {
  @include contentDiv ;
}



/* Här är styling som gäller för hela sidan */
html,
body {
  height: 100;
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color:$text-color;
  margin: 0; 
}

/* Här finns all styling för navbar i header */

 header {
    background-color:$text-color;

    h1{color:$text-color;
      display: flex;
      text-align: center;
    h1:hover {
      color:pink;
    }}
   
} 



nav {
    padding: 10px;

    a{ display: block;
      text-align: center;
      width: 50%;
      margin: auto;   
      color:#ACAEC5; 
      font-size: 18px;
      padding: 6px;
      margin-bottom: 5px;
      text-decoration: none;}
}



/* Nedan är styling för navbaren som är sticky när man scrollar (JS) */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

//Padding på toppen för att förhindra plötslig snabb förflyttning
    .content {
      padding-top: 60px;
    }
  }
  
 

  .button-wrapper {
    display: flex;
    flex-direction: column;
    a{margin-bottom: 5px;}
    .button { background-color:$text-color;
      color: $primary-color;
      padding: 25px;
      border-radius: 30px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;}
    }




/* Här är styling som gäller för alla rubriker och texter */

h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 200;
  color: $text-color;
}


/* Här är styling för about-me sektionen */

.about-me {
  background-color: $primary-color;
  padding: 150px 30px; 
  color:$text-color;
  text-align: center;
 
img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;

}

}




/* Här är styling för footern på sidan */

footer {
  background-color: $primary-color;
  padding: 50px 100px;
  
}

//Nedan gör så den fungerar i chrome 
@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
        margin-right: 10px;
    }

    .about-me {
        display:block;
    }
  
} 
 
 
    @media only screen and (min-width: 700px) {
        .container {
            display: flex;   
            margin-right: 10px;
        }
   

     //Styling av navbar i min header
        header {
            background-color: rgba(255,255,255,.5);
           
            a{width: 20%;
              margin-top: 20px;}

              nav { padding: 10px;

                a{ display: inline;
                  padding: 15px;
                  margin-right: 10px;
                  }}
        } 
       
           
    
              .button-wrapper {
                display:block;
              }
              .project-wrapper {
               
                display: flex;
                flex-direction: row;
              
                }


              }
             
            

  

