@charset "UTF-8";
#content-div {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/*  Tre box där jag bifogat mina projekt */
.card-wrapper {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.card-div {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DDA6B9;
  margin: auto;
}

.card-div > img {
  max-width: 50%;
  height: auto;
}

.contact-div {
  background-color: #ACAEC5;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/* Här är styling som gäller för hela sidan */
html,
body {
  height: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #fff;
  margin: 0;
}

/* Här finns all styling för navbar i header */
header {
  background-color: #fff;
}

header h1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

nav {
  padding: 10px;
}

nav a {
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  color: #ACAEC5;
  font-size: 18px;
  padding: 6px;
  margin-bottom: 5px;
  text-decoration: none;
}

/* Nedan är styling för navbaren som är sticky när man scrollar (JS) */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*   --------------------testa nästla nedan med ovan --------------------- */
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-wrapper a {
  margin-bottom: 5px;
}

.button-wrapper .button {
  background-color: #fff;
  color: #DDA6B9;
  padding: 25px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* .button {   
  background-color:$text-color;
  color: $primary-color;
  padding: 25px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
 */
/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
}

/* Här är styling för about-me sektionen */
.about-me {
  background-color: #DDA6B9;
  padding: 150px 30px;
  color: #fff;
  text-align: center;
}

/* Här är styling för bilden som ligger i about-me sektionen */
.about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för greatness sektionen */
.greatness {
  padding: 150px 30px;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  #education {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

/* Här är styling för footern på sidan */
footer {
  background-color: #DDA6B9;
  padding: 50px 100px;
}

/* .card {
  @include contentDiv ;
    max-width: 50%;
    background-color: #E2BAB1;
    margin: 60px;
}

.card > img {
    max-width: 100%;
    height: auto;
}
.card h1 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
    color:$text-color;
   
}

.card > .text {
    padding: 0px 20px 20px;
    color:$text-color;
} */
/* .grid-wrapper button{
    background-color:$text-color;
    color: #E2BAB1;
    padding: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
} */
@media only screen and (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  .about-me {
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    /*  display: flex;
            max-width: 1200px;
            margin: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  /*   -------------------HÄR NEDAN KAN JAG NÄSTLA--------------------- */
  header {
    background-color: rgba(255, 255, 255, 0.5);
  }
  header a {
    width: 20%;
    margin-top: 20px;
  }
  header .site-logo {
    margin: 0;
    width: 40%;
  }
  header nav {
    padding: 10px;
  }
  header nav a {
    display: inline;
    padding: 15px;
    margin-right: 10px;
  }
  /*   -------------------HÄR OVAN KAN JAG NÄSTLA--------------------- */
  .button-wrapper {
    display: block;
  }
  .card-wrapper {
    display: auto;
  }
}
/*# sourceMappingURL=style.css.map */